<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/courses/923/week7/code/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel='stylesheet' href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-            expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">JobPlus</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">职位<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/">公司<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('front.userregister') }}">用户注册</a></li>
            <li><a href="{{ url_for('front.companyregister') }}">公司注册</a></li>
            <li><a href="{{ url_for('front.login') }}">登录</a></li>
          {% else %}
            <li class='dropdown'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="username">{{ current_user.name }}</span><span class="caret"></span></a>
              <ul class='dropdown-menu'>
                <li><a href=''>我的主页</a></li>
                <li role='separator' class='divider'></li>
                <li><a href="{{ url_for('front.logout') }}">退出登录</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class='alert alert-{{ category }} alert-dismissible' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018 by <a href='https://www.shiyanlou.com'>实验楼</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
